* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e40fc0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

header {
  background-color: #00f;
  padding: 20px;
  font-size: 24px;
  color: white;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-menu {
  background-color: #3cff00;
  color: rgb(255, 255, 255);
  padding: 15px;
  font-size: 20px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  padding: 20px;
  width: 100%;
}

.left-content,
.right-content {
  background-color: #f67300;
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 18px;
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-content {
  background-color: #8b0000;
  color: rgb(255, 255, 255);
  padding: 30px;
  margin: 0 10px;
  font-size: 22px;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.left-content p,
.main-content p,
.right-content p {
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.footer {
  background-color: #2008fa;
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}